@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  --Chocolate: #7b3f00;
  --DarkBlack: #1a1a1a;
  --DarkGray: #343434;
  --GunMetal: #8d918d;
}

body {
  margin: 0;
  background-image: linear-gradient(var(--DarkBlack), var(--DarkGray));
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: var(--GunMetal);
  font-family: "Consolas", Arial, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--DarkGray) var(--GunMetal);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--DarkGray);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--DarkGray) ;
  border-radius: 6px;
  border: 2px solid var(--GunMetal);
}

.descriptors {
  color: var(--Chocolate);
  font-weight: bold;
  font-size: x-large;
}

h2 {
  color: var(--Chocolate);
}

.headerDiv {
  display: flex;
  border-bottom: 3px solid var(--GunMetal);
}



.navMenu,
a {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #8d918d;
  position: relative;
  text-decoration: none;
}
.navMenu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navMenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}

.navMenu a:before,
.navMenu a:after {
  height: 1rem;
  width: 1rem;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.navMenu a:before {
  left: 0;
  top: 0;
  border-left: 3px solid var(--Chocolate);
  border-top: 3px solid var(--Chocolate);
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.navMenu a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid var(--Chocolate);
  border-bottom: 3px solid var(--Chocolate);
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.navMenu a:hover,
.navMenu .navMenuSelected a {
  color: var(--Chocolate);
}
.navMenu a:hover:before,
.navMenu .navMenuSelected a:before,
.navMenu a:hover:after,
.navMenu .navMenuSelected a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

.projectDiv {
  display: block;
  margin: auto;
  width: 30rem;
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 1rem;
  transition: border 1s ease;
}

.projectDiv:hover {
  border: 3px solid var(--GunMetal);
  border-radius: 8px;
  transition: border 1s ease;
}

.projectList, .projectListHide {
  width: auto;
  display: inline-flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.projectList {
  opacity: 1;
  transition: opacity 2s ease;
}

.projectListHide {
  opacity: 0;
}

.projectLanguagesli {
  margin: 1rem;
}

.projectText, .projectTextHide {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.projectText {
  opacity: 1;
  transition: opacity 2s ease;
}

.projectTextHide {
  opacity: 0;
  margin: 0;
}

.projectTextDiv {
  visibility: visible;
  height: auto;
}

.projectTextDivHide {
  visibility: hidden;
  height: 0;
}

.projectTitle {
  margin: .5rem;
}

.projectButton {
  margin: .5rem auto;
  width: 8rem;
  height: 3rem;
  border: 3px solid var(--Chocolate);
  border-radius: 8px;
  padding: .5em;
  background: transparent;
  color: var(--GunMetal);
  font-size: medium;
  font-weight: bold;
  display: block;
}

@media screen and (max-width: 500px) {
  .headerDiv {
    display: block;
    padding-bottom: 1rem;
  }
  .navMenu {
    margin: auto;
  }
}

@media screen and (max-width: 780px) {
  .projectDiv {
    width: 100%;
  }
  .navMenu li {
    display: block;
  }
}
