.activityLoader {
  border: 0.75rem solid var(--DnDDark);
  border-top: 0.75rem solid var(--DnDRed);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1.5s linear infinite;
  margin: 1rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}