.rootDogsDiv {
  width: 100%;
  height: auto;
  display: block;
}

.headerImgContainer {
  margin: 1rem;
  display: inline-block;
}

.sliderImage {
  width: auto;
  height: 25rem;
  object-fit: cover;
}

.test {
  height: 25rem;
  width: 25rem;
  border: 3px solid red;
  margin: auto;
}
