.img {
  padding-left: 1rem;
  padding-right: 1rem;
}

.imgRootDiv {
  padding: 1rem;
  width:  30rem;
  height: auto;
}


@media screen and (max-width: 780px) {
  .imgRootDiv {
    width: 20rem;
  }
}