.liOption,
.liOptionFocused {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #8d918d;
  position: relative;
  text-decoration: none;
  height: 5rem;
  line-height: 5rem;
}

.liOptionFocused,
.liOption:hover {
  color: var(--Chocolate);
}

@media screen and (max-width: 500px) {
  .liOption,
  .liOptionFocused {
    display: inline-flex;
  }
}