// @import "compass/css3";

browserTypewriter, mobileTypewriter {
  border-right: solid 2px #7B3F00;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: large;
  margin: auto;
  margin-left: 1rem;
  width: 12.5rem;
}

mobileTypewriter {
  display: none;
}

/* Animation */
browserTypewriter, mobileTypewriter {
  animation-iteration-count: infinite;
  animation: animated-text 10s steps(29, end) 2s infinite alternate both,
    animated-cursor 1s steps(29, end) infinite;
}

// Text animation.
@keyframes animated-text {
  0% {
    width: 0;
  }
  40% {
    width: 0rem;
  }
  60% {
    width: 12.5rem;
  }
}

// Cursor Animation.
@keyframes animated-cursor {
  from {
    border-right-color: #7B3F00;
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 500px) {
  browserTypewriter {
    display: none;
  }
  mobileTypewriter {
    margin: auto;
    display: block;
  }
}
