// @import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

// body {
//   background: black;
//   overflow: hidden;
//   font: 5vw/100vh "Finger Paint";
//   text-align: center;
//   color: transparent;
//   backface-visibility: hidden;
// }

typewriter {
  border-right: solid 2px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  margin: auto;
  margin-left: 1rem;
  width: 15rem;
}

/* Animation */
typewriter {
  animation-iteration-count: infinite;
  animation: animated-text 10s steps(29, end) 2s infinite alternate both,
    animated-cursor 1s steps(29, end) infinite;
  // animated-cursor 1000ms steps(29, end) infinite;
  //animation: smoky 5s 3s both;
}

/* text animation */

@keyframes animated-text {
  0% {
    width: 0;
  }
  40% {
    width: 0rem;
  }
  60% {
    width: 15rem;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

// span {
//   //font: 5vw/100vh "Finger Paint";
//   font: "Raleway", Arial, sans-serif;
//   text-transform: uppercase;
//   font-weight: 400;
//   letter-spacing: 2px;
//   margin-top: auto;
//   margin-bottom: auto;
//   font-size: 1.5rem;
//   text-shadow: 0 0 0 whitesmoke;
//   animation: animated-text 4s steps(29, end) 1s 1 normal both,
//     animated-cursor 600ms steps(29, end) infinite;
//   animation: smoky 5s 3s both;
// }

// span:nth-child(even) {
//   animation-name: smoky-mirror;
// }

// @keyframes smoky {
//   60% {
//     text-shadow: 0 0 40px whitesmoke;
//   }
//   to {
//     transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg)
//       scale(1.5);
//     text-shadow: 0 0 20px whitesmoke;
//     opacity: 0;
//   }
// }

// @keyframes smoky-mirror {
//   60% {
//     text-shadow: 0 0 40px whitesmoke;
//   }
//   to {
//     transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg)
//       scale(2);
//     text-shadow: 0 0 20px whitesmoke;
//     opacity: 0;
//   }
// }

// @for $item from 1 through 21 {
//   span:nth-of-type(#{$item}) {
//     animation-delay: #{(3 + ($item/10))}s;
//   }
// }
