// @import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

typewriter {
  border-right: solid 2px #7B3F00;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  margin: auto;
  margin-left: 1rem;
  width: 15rem;
}

/* Animation */
typewriter {
  animation-iteration-count: infinite;
  animation: animated-text 10s steps(29, end) 2s infinite alternate both,
    animated-cursor 1s steps(29, end) infinite;
}

// Text animation.
@keyframes animated-text {
  0% {
    width: 0;
  }
  40% {
    width: 0rem;
  }
  60% {
    width: 15rem;
  }
}

// Cursor Animation.
@keyframes animated-cursor {
  from {
    border-right-color: #7B3F00;
  }
  to {
    border-right-color: transparent;
  }
}
