

.headerNavBar {
  display: flex;
  background: var(--DnDGold);
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headerNavMenuContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoNav {
  width: 100%;
}

.menuIcon {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}

/*Mobile View */
@media (max-width: 320px) {
  .menuIcon {
    margin-right: 0rem;
  }
}

.menuLink:link,
.menuLink:visited {
  font: inherit;
  background-color: var(--MetroNetBlue);
  color: white;
  border: 1px solid var(--DnDBlack);
  padding: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  height: 5rem;
  display: inline-block;
  margin: 0.5rem;
  align-content: center;
  text-decoration: none;
}

.menuLink:hover,
.menuLink:active {
  background-color: var(--MetroNetBlue);
}

.navOptions {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4rem;
  left: -100%;
  opacity: 0;
  transition: all 0.5s ease;
  flex-direction: column;
  list-style-type: none;
  grid-gap: 0px;
}

.navOptionsActive {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 4rem;
  left: 0;
  opacity: 1;
  z-index: 1;
  transition: all 0.5s ease;
  flex-direction: column;
  list-style-type: none;
  grid-gap: 0px;
  padding-left: 0rem;
  align-content: center;
  background: #3f3f3f;
  padding-top: 1rem;
  margin-top: 0rem;
}
