.headerDiv {
  display: flex;
  margin-bottom: 3rem;
  /* background-image: linear-gradient(var(--DarkBlack), var(--Black)); */
  border-bottom: 3px solid var(--GunMetal);
}

.name {
  text-align: left;
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  float: left;
  margin: auto;
  margin-left: 1rem;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.navDiv {
  float: right;
  margin: auto;
}
