.linkDiv {
  float: right;
  margin: auto;
}

.socialDiv {
  margin-bottom: 1rem;
  margin: auto;
  position: relative;
  bottom: 0;
  width: 90%;
}

.facebook, .github, .linkedin {
  color: var(--Chocolate);
  border: 3px solid var(--Chocolate);
  border-radius: 20%;
  padding: .5em;
  transform: rotate(0deg);
  transition: border-radius, transform .5s ease;
}

.facebook:hover {
  color: #4267B2;
  border-color: #4267B2;
}

.github:hover {
  color: #6e5494;
  border-color: #6e5494;
}

.linkedin:hover {
  color: #0077b5;
  border-color: #0077b5;
}

.facebook:hover, .github:hover, .linkedin:hover {
  transform: rotate(360deg);
  transition: transform .5s ease;
}